<template>
  <div style="min-height: 50vh">
    <a-row :gutter="8">
      <a-col class="gutter-row" :span="24">
        <a-card style="min-height: 50vh">
          <div>
            <a-row>
              <a-col :span="9">
                <a-input v-model="ingreso1" placeholder="Ingrese el lenguaje del automata" />
              </a-col>
              <a-col :span="3">
                <a-button type="primary" @click="prueba(ingreso1)" :disabled="!ingreso1">Graficar</a-button>
              </a-col>
              <a-col :span="6">
                <a-input
                  v-if="this.visible"
                  v-model="palabra"
                  placeholder="Ingrese la palabra a analizar"
                />
              </a-col>
              <a-col :span="6">
                <a-button
                  v-if="this.visible"
                  type="danger"
                  @click="analizar(palabra,ingreso1)"
                  :disabled="!palabra"
                >Analizar</a-button>
              </a-col>
            </a-row>
          </div>
          <div id="imagen"></div>
        </a-card>
        <br />
      </a-col>
    </a-row>
    <br />
    <a-row>
      <a-col class="gutter-row" :span="24">
        <a-card style="min-height: 50vh">
          <div>
            <a-row>
              <a-col :span="9">
                <a-input v-model="ingreso2" placeholder="Ingrese el lenguaje del automata" />
              </a-col>
              <a-col :span="3">
                <a-button type="primary" @click="prueba2(ingreso2)" :disabled="!ingreso2">Graficar</a-button>
              </a-col>
              <a-col :span="6">
                <a-input
                  v-if="this.visible2"
                  v-model="palabra2"
                  placeholder="Ingrese la palabra a analizar"
                />
              </a-col>
              <a-col :span="6">
                <a-button
                  v-if="this.visible2"
                  type="danger"
                  @click="analizar(palabra2,ingreso2)"
                  :disabled="!palabra2"
                >Analizar</a-button>
              </a-col>
            </a-row>
          </div>
          <div id="imagen2"></div>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import axios from "axios";
import Viz from "viz.js";
import regParser from "automata.js";

import { Module, render } from "viz.js/full.render.js";
export default {
  data() {
    return {
      ingreso1: null,
      ingreso2: null,
      palabra: null,
      palabra2: null,
      data: null,
      visible: false,
      visible2: false,
      datos: "adssadasd"
    };
  },
  methods: {
    async prueba(palabra) {
      if (palabra) {
        try {
          let viz = new Viz({ Module, render });
          var parser = new regParser.RegParser(palabra);
          var nfa = parser.parseToDFA();
          this.data = await viz.renderString(nfa.toDotScript(), "svg", "dot");
          document.getElementById("imagen").innerHTML = this.data;
          //console.log(this.data);
          this.visible = true;
        } catch (err) {
          this.$message.error("Ingrese una expresion valida");
        }
      }
    },

    async prueba2(palabra) {
      if (palabra) {
        try {
          let viz = new Viz({ Module, render });
          var parser = new regParser.RegParser(palabra);
          var nfa = parser.parseToDFA();
          this.data = await viz.renderString(nfa.toDotScript(), "svg", "dot");
          document.getElementById("imagen2").innerHTML = this.data;
          // console.log(this.data);
          this.visible2 = true;
        } catch (err) {
          this.$message.error("Ingrese una expresion valida");
        }
      }
    },
    analizar(palabra, automata) {
      var parser = new regParser.RegParser(automata);
      var nfa = parser.parseToDFA();
      console.log(nfa)
      if (nfa.match(palabra)) {
        this.openNotificationWithIcon();
      } else {
        this.openNotificationWithIcon1();
      }
    },
    openNotificationWithIcon() {
      this.$notification["success"]({
        message: "PALABRA ACEPTADA",
        description: "El automata acepto la palabra"
      });
    },

    openNotificationWithIcon1() {
      this.$notification["error"]({
        message: "PALABRA NO ACEPTADA",
        description: "El automata no acepta la palabra"
      });
    }
  }
};
</script>
